@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: none;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
}

body {
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;

    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 80rem;
        width: 100%;
        padding: 0 2rem;
        margin: auto;
        height: 7rem;

        img {
            height: 5rem;
            cursor: pointer;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: var(--black);
                    font-size: 1.15rem;
                    letter-spacing: .02rem;
                    font-weight: 400;
                }
            }
        }

        .fa-solid,
        .fa-solid {
            display: none;
            font-size: 1.5rem;
            cursor: pointer;
            padding: .5rem;
        }
    }

    @media (max-width:769px) {

        .main {
            height: 7rem;
            position: fixed;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            background-color: gray;
            align-items: unset;
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 99;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: unset;
                align-items: unset;
                gap: 2rem;
                padding-left: 2.2rem;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: var(--black);
                        font-size: 1.6rem;
                        letter-spacing: .02rem;
                        font-weight: 500;
                    }
                }
            }

            img {
                position: absolute;
                top: 2rem;
            }

            .fa-solid,
            .fa-solid {
                display: block;
                position: absolute;
                top: 3rem;
                right: 3rem;
                display: block;
            }
        }
    }
}

.navResponseive {
    visibility: hidden;
    width: 0;
    height: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;

    img {
        height: 5rem;
    }

    .fa-solid,
    .fa-solid {
        font-size: 1.5rem;
        cursor: pointer;
        padding: .5rem;
    }
}

@media (max-width:769px) {
    .navResponseive {
        visibility: visible;
        width: unset;
        height: unset;
    }

}

.head {
    background: linear-gradient(#d9dbdd74, #d9dbdd75), url(./Assests/About/bg.webp) center;
    background-size: cover;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 72rem;
        width: 100%;
        padding: 0 2rem;

        h1 {
            font-size: clamp(2rem, -0.875rem + 8.333vw, 4rem);

        }

        #underLine {
            height: .3rem;
            background-color: #000;
            margin: unset;
            max-width: 24rem;
            width: 100%;
            margin-bottom: 1rem;
        }

        p {
            font-size: clamp(1.2rem, -0.875rem + 8.333vw, 1.6rem);
        }

        @media (max-width:500px) {

            #underLine {
                height: .2rem;
                max-width: 13rem;
            }
        }
    }
}

.paragraph {
    max-width: 80rem;
    width: 100%;
    padding: 5vw 3vw;
    margin: auto;

    p {
        font-size: clamp(1.1rem, -0.875rem + 8.333vw, 1.3rem);
    }
    
    @media (max-width:500px) {
        p {
            padding: 0 1rem ;
        }
        
    }
}

.gupta {
    max-width: 40rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .people {

        /* border: 2px solid red; */
        h1 {
            font-size: 1.5rem;
            padding-bottom: 2rem;
            text-align: center;
        }

    }
    @media (max-width:500px) {
        padding-top: 1.7rem;
        padding-bottom: 3rem;
        .people {
            padding: 0 .5rem;
            h1 {
                font-size: 1.2rem;
                padding-bottom: 1rem;
                text-align: center;
            }
    
        }

        
    }
}

.awards {
    padding: 5vw 3vw;
    max-width: 80rem;
    width: 100%;
    margin: auto;

    h1 {
        font-size: clamp(1.8rem, -0.875rem + 8.333vw, 2.8rem);
        text-align: center;
        padding-bottom: 3rem;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 1.3rem;
            padding: 1rem 0;
        }

        img {
            width: unset !important;
        }

        p {
            max-width: 20rem;
        }

        .divider {
            height: 2rem;
            width: 100%;
        }
    }
}

.clients {
    max-width: 65rem;
    margin: auto;
    width: 100%;

    h1 {
        font-size: clamp(1.8rem, -0.875rem + 8.333vw, 2.8rem);
        text-align: center;
        padding-bottom: 3rem;
    }

    .swiper-slide {
        display: flex;

        h1 {
            font-size: 2rem;
            padding-bottom: .5rem;
        }

        h6 {
            font-size: 1rem;
            color: #000000cc;
            padding: .7rem;
        }

        .divider{
            width: 100%;
            height: 2rem;
        }
    }

    @media (max-width:600px) {
        padding: 0 2rem;

        h1 {
            padding-bottom: 0rem;
        }

        .swiper-slide {
            flex-direction: column;

        }
    }
}